.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
  }
  /* header */
  header{
    background: #372D23;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 52px 98px;
  }
  .headerUl{
    display: flex;
    justify-content: space-between;   
    width: 393px;
  }
  .headerAb{
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: left;
color:  #FCC21B;

  }
  
  .headerA{
    font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: left;
color: #ED6C30;
;
  }

  /* section */
.section_1{
    height: 640px;
    position: relative;
}
  .section_img{
    margin-right: 100px;
    height: 100px;
    object-fit: cover;
    width: 100px;
  }

  .section_2{
    position: absolute;
    background-color: #FCC21B;
    top: 50%;
    left: 50%;
    transform: translate( -50%,-50%);
}
  .paragrap{
    font-family: inter;
    font-size: 48px;
    font-weight: 700px;
    line-height: 53px;
    color: #ffffff;
    padding-top: 34px;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  .button{
    width: 224px;
height: 52px;
top: 122px;
padding: 12px 40px 12px 40px;
    background-color: #FCC21B; 
    left: 40px;
    font-family: inter;
    font-size: 15px;
    line-height: 28px;
    color: white;
   
}

.section_1{
    width: 1200px;
    height: 400px;
    top: 876;
    left: 120px;
}
.photo{
    margin-top: 100px;
    margin-left: 120px;
    margin-bottom: 100px;
}
 .button2{

    background-color: #ed6c30;
border: none;
width: 211px;
height: 52px;
top: 324px;
padding: 12px 40px 12px 40px;
gap: 0px;
opacity: 0px;
margin-top: 40px;
 }

 

  .article_2{
    width: 400px;
    height: 376px;
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
    vertical-align: top;
    left: 800px;
  }

  .h3{
    font-family: inter;
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    color: #372D23;

  }

  .paragrap_2{
    color: #855C52;
    font-family: inter;
    font-size: 20-x;
    font-weight: 400px;
    line-height: 28px;
    margin-top: 40px;
  }





